.info {
  background-color: #eee;
  margin-top: -115px;
}

.info__image {
  display: none;
}

.info__title {
  display: none;
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 110px;
}

.info__item {
  padding-left: 50px;
  margin-bottom: 15px;
  position: relative;
}

.info__item::before {
  display: block;
  position: absolute;
  content: '';
  top: calc(50% - 23px);
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #48b;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-size: 18px;
  color: #eee;
}

.info__item:nth-child(1)::before {
  content: "1";
}

.info__item:nth-child(2)::before {
  content: "2";
}

.info__item:nth-child(3)::before {
  content: "3";
}

.info__item:nth-child(4)::before {
  content: "4";
}

.info__item:nth-child(5)::before {
  content: "5";
}

.info__item:nth-child(6)::before {
  content: "6";
}

.info__link {
  display: block;
  text-decoration: none;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 1.25;
  color: #48b;
  border-bottom: 1px dashed #aaa;
  outline: 0;
  transition: 0.3s ease;
}

.info__link:hover, .info__link:active {
  color: rgba(68, 136, 187, 0.7);
}

.info__link:focus {
  color: #666;
}

.info__link sup {
  font-size: 14px;
  line-height: 1px;
}

.info__item:last-child .info__link {
  border-bottom: none;
}

@media (min-width: 600px) {
  .info {
    margin-top: 35px;
  }
  .info__image {
    display: block;
    width: 100%;
    height: auto;
  }
  .info__list-container {
    width: 52%;
    padding-top: 20px;
  }
  .info__title {
    display: block;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    color: #48b;
    padding-left: 50px;
  }
  .info__list {
    padding-top: 30px;
  }
  .info__link {
    display: inline-block;
  }
}

.image-container--info {
  display: none;
  width: 44%;
  margin-top: -35px;
}

@media (min-width: 600px) {
  .image-container--info {
    display: block;
  }
}
