@import '../../styles/variables';

.header-banner {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: $color-blue;
  background-image: url('../images/header-banner-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $color-white;
    border-bottom: 5px solid $color-white;
    padding-bottom: 22px;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
    margin-bottom: 27px;
  }

  @media #{$media-screen-tablet} {
    padding: 30px;
    padding-top: 50px;
    background-image: url('../images/header-banner-background-not-mobile.jpg');

    &__title {
      display: inline-block;
      font-size: 40px;
    }

    &__text {
      max-width: 350px;
    }
  }

  @media #{$media-screen-desktop} {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;

    &__title {
      font-size: 48px;
    }

    &__text {
      max-width: 500px;
    }

  }
}