$tablet: 600px;
$desktop: 1024px;
$desktop-big: 1440px;

$media-screen-tablet: '(min-width: #{$tablet})';
$media-screen-desktop: '(min-width: #{$desktop + 1})';

$color-white: #fff;
$color-light-grey: #eee;
$color-grey: #aaa;
$color-blue: #48b;

@mixin position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin background-icons {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
