$tablet: 600px;
$desktop: 1024px;
$desktop-big: 1440px;

$media-screen-mobile: '(max-width: #{$tablet - 1})';
$media-screen-not-mobile: '(min-width: #{$tablet})';

$color-white: #fff;
$color-light-grey: #eee;
$color-header-banner: #48b;

@mixin position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin pseudo {
  display: block;
  content: '';
  position: absolute;
}

@mixin background-icons {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
