<div class="footnotes">
  <ol class="footnotes__list">
    <li class="footnotes__item">
      Reprehenderit - Lorem ipsum
      dolor sit amet, consectetur
      adipisicing elit, sed do eiusmod
      tempor incididunt ut labore
    </li>
    <li class="footnotes__item">
      Tempor - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </li>
    <li class="footnotes__item">
      Amet - Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </li>
  </ol>
</div>