.header-banner {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #48b;
  background-image: url("../images/header-banner-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner__title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  border-bottom: 5px solid #fff;
  padding-bottom: 22px;
  margin-bottom: 25px;
}

.header-banner__text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 27px;
}

.wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
}

.form-request {
  background-color: #fff;
  width: 100%;
  min-height: 340px;
}

.main-page {
  background-color: #fff;
}

.post__list {
  padding-top: 20px;
}

.post__item {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
}

.info {
  background-color: #eee;
}

.info__image {
  display: none;
}

.info__title {
  display: none;
}

.footer-page {
  background-color: #fff;
}

.footnotes {
  background-color: #fff;
}
