.wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 600px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    padding: 0 5px;
    max-width: 985px;
  }
  .wrapper--post {
    max-width: 1005px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper--post {
    max-width: 1220px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container--info {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-container--header-banner {
  display: block;
}

@media (min-width: 1025px) {
  .flex-container--header-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #eee;
  padding-left: 10px;
  font-size: 16px;
  color: #aaa;
}

.input:focus {
  border: 1px solid #48b;
  color: #48b;
}

.input--select {
  position: relative;
  z-index: 10;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
}

input[name="form-request-checkbox-agree"] {
  display: none;
}

input[name="form-request-checkbox-agree"] + label {
  display: block;
  padding-left: 23px;
  position: relative;
  color: #aaa;
  margin-bottom: 15px;
  cursor: pointer;
  outline: 0;
}

input[name="form-request-checkbox-agree"] + label::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: #eee;
  z-index: 105;
}

input[name="form-request-checkbox-agree"] + label:focus {
  color: #48b;
}

input[name="form-request-checkbox-agree"]:checked + label::before {
  background-image: url("../images/icon-checkbox.png");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: 50% 50%;
}

.input-wrapper {
  position: relative;
  z-index: 5;
}

.input-wrapper--text.active::before, .input-wrapper--text.active::after {
  display: block;
  content: '';
  position: absolute;
  top: 23px;
  right: 13px;
  width: 13px;
  height: 2px;
  background-color: #48b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.input-wrapper--text.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.input-wrapper--select {
  background-color: #eee;
}

.input-wrapper--select::before {
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  right: 12px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 10px solid #aaa;
  cursor: pointer;
}

.button {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  height: 30px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button--blue {
  background-image: linear-gradient(180deg, #4488bb, #2e5d80);
  color: #eee;
  width: 125px;
}

.button--blue:focus {
  border: 1px solid #aaa;
  color: #aaa;
}

.button--blue:hover, .button--blue:active {
  opacity: 0.8;
}

.button--transparent {
  color: #aaa;
  background-color: transparent;
}

.button--transparent:focus {
  color: #333;
}

.button--transparent:hover, .button--transparent:active {
  color: #48b;
}

.button--link {
  padding-top: 5px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.button-container--form-request {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-container--popup {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  width: 220px;
}

@media (min-width: 1025px) {
  .button-container--form-request {
    width: 220px;
  }
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.75);
  z-index: 200;
  top: 0;
  left: 0;
  display: none;
}

.popup.active {
  display: block;
}

.popup__content {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
  position: fixed;
  left: calc(50% - 150px);
  top: calc(50% - 200px);
  z-index: 250;
  color: #333;
}

.popup__title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}

.popup__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.popup__close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 3px solid #444;
  border-radius: 50%;
  font-size: 0;
  z-index: 300;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.popup__close-button::before, .popup__close-button::after {
  position: absolute;
  display: block;
  content: '';
  top: 11px;
  left: 3px;
  width: 18px;
  height: 3px;
  background-color: #444;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: 0.3s ease;
}

.popup__close-button::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close-button:hover, .popup__close-button:active {
  border-color: #48b;
}

.popup__close-button:hover::before, .popup__close-button:hover::after, .popup__close-button:active::before, .popup__close-button:active::after {
  background-color: #48b;
}

@media (min-width: 600px) {
  .popup__content {
    width: 450px;
    padding: 20px;
    padding-top: 25px;
    left: calc(50% - 225px);
    top: calc(50% - 160px);
  }
  .popup__close-button {
    right: 20px;
  }
}

@media (min-width: 1025px) {
  .popup__content {
    width: 590px;
    left: calc(50% - 295px);
    top: calc(50% - 140px);
  }
}

.header-banner {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #48b;
  background-image: url("../images/header-banner-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner__title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  border-bottom: 5px solid #fff;
  padding-bottom: 22px;
  margin-bottom: 25px;
}

.header-banner__text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 27px;
}

@media (min-width: 600px) {
  .header-banner {
    padding: 30px;
    padding-top: 50px;
    background-image: url("../images/header-banner-background-not-mobile.jpg");
  }
  .header-banner__title {
    display: inline-block;
    font-size: 40px;
  }
  .header-banner__text {
    max-width: 350px;
  }
}

@media (min-width: 1025px) {
  .header-banner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  .header-banner__text-container {
    padding-left: 25px;
  }
  .header-banner__title {
    font-size: 48px;
  }
  .header-banner__text {
    max-width: 500px;
  }
}

.form-request {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.form-request__title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #48b;
  margin-bottom: 15px;
  padding-left: 8px;
}

@media (min-width: 600px) {
  .form-request {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 25px;
  }
}

@media (min-width: 1025px) {
  .form-request {
    max-width: 290px;
    margin: 0;
    margin-top: 10px;
    margin-right: 100px;
    padding: 20px;
  }
}

.main-page {
  background-color: #fff;
}

.post__list {
  padding-top: 20px;
}

.post__item {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  overflow: hidden;
}

.post__item:nth-child(1) {
  background-image: url("../images/post-1.jpg");
}

.post__item:nth-child(2) {
  background-image: url("../images/post-2.jpg");
}

.post__item:nth-child(3) {
  background-image: url("../images/post-3.jpg");
}

.post__item:nth-child(4) {
  background-image: url("../images/post-4.jpg");
}

.post__item:nth-child(5) {
  background-image: url("../images/post-5.jpg");
}

.post__item-container {
  width: 100%;
  height: 100%;
  background-color: rgba(68, 136, 187, 0.75);
  padding-top: 8px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 10px;
  position: relative;
  z-index: 10;
  min-height: 150px;
}

.post__item-container::after {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  z-index: 100;
  background: url("../images/icon-post.png") no-repeat;
}

.post__item-title {
  position: relative;
  z-index: 100;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 13px;
}

.post__item-text {
  position: relative;
  z-index: 100;
  font-size: 14px;
  line-height: 18px;
}

.post__link {
  display: block;
  text-decoration: none;
  color: #eee;
}

@media (min-width: 600px) {
  .post__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .post__item {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (min-width: 1025px) {
  .post__list {
    padding-top: 70px;
  }
  .post__item {
    cursor: pointer;
  }
  .post__item-container {
    -webkit-transform: translateY(calc(100% - 40px));
            transform: translateY(calc(100% - 40px));
    transition: 0.5s ease-out;
  }
  .post__item:hover .post__item-container,
  .post__item:active .post__item-container {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .post__link:focus .post__item-container {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1400px) {
  .post__item {
    width: calc(100%/3 - 10px);
    margin: 5px;
    margin-bottom: 25px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.info {
  background-color: #eee;
  margin-top: -115px;
}

.info__image {
  display: none;
}

.info__title {
  display: none;
}

.info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 110px;
}

.info__item {
  padding-left: 50px;
  margin-bottom: 15px;
  position: relative;
}

.info__item::before {
  display: block;
  position: absolute;
  content: '';
  top: calc(50% - 23px);
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #48b;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px;
  font-size: 18px;
  color: #eee;
}

.info__item:nth-child(1)::before {
  content: "1";
}

.info__item:nth-child(2)::before {
  content: "2";
}

.info__item:nth-child(3)::before {
  content: "3";
}

.info__item:nth-child(4)::before {
  content: "4";
}

.info__item:nth-child(5)::before {
  content: "5";
}

.info__item:nth-child(6)::before {
  content: "6";
}

.info__link {
  display: block;
  text-decoration: none;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 1.25;
  color: #48b;
  border-bottom: 1px dashed #aaa;
  outline: 0;
  transition: 0.3s ease;
}

.info__link:hover, .info__link:active {
  color: rgba(68, 136, 187, 0.7);
}

.info__link:focus {
  color: #333;
}

.info__link sup {
  font-size: 14px;
  line-height: 1px;
}

.info__item:last-child .info__link {
  border-bottom: none;
}

@media (min-width: 600px) {
  .info {
    margin-top: 35px;
  }
  .info__image {
    display: block;
    width: 100%;
    height: auto;
  }
  .info__list-container {
    width: 52%;
    max-width: 585px;
    padding-top: 20px;
  }
  .info__title {
    display: block;
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    color: #48b;
    padding-left: 50px;
  }
  .info__list {
    padding-top: 30px;
  }
  .info__link {
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .info {
    margin-top: 25px;
  }
}

@media (min-width: 1400px) {
  .info {
    padding-bottom: 70px;
  }
  .info__list-container {
    padding-top: 50px;
  }
  .info__title {
    font-size: 48px;
  }
  .info__list {
    padding-top: 55px;
  }
}

.image-container--info {
  display: none;
  width: 44%;
  max-width: 500px;
  margin-top: -35px;
}

@media (min-width: 600px) {
  .image-container--info {
    display: block;
  }
}

.footer-page {
  background-color: #fff;
}

.footnotes {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footnotes__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 5px solid #48b;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.footnotes__item {
  margin-bottom: 13px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 1.2;
  color: #48b;
  position: relative;
}

.footnotes__item::before {
  display: block;
  position: absolute;
  content: '';
  top: -5px;
  left: 0;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 14px;
  color: #48b;
}

.footnotes__item:nth-child(1)::before {
  content: "1";
}

.footnotes__item:nth-child(2)::before {
  content: "2";
}

.footnotes__item:nth-child(3)::before {
  content: "3";
}

@media (min-width: 1025px) {
  .footnotes__list {
    padding-bottom: 1px;
    padding-left: 20px;
  }
}
