@import '../../styles/variables';

.flex-container {
    display: flex;

  &--info {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &--header-banner {
    display: block;
  }

  @media #{$media-screen-desktop} {

    &--header-banner {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

  }
}