@import '../../styles/variables';

.button {
  display: inline-block;
  height: 50px;
  // margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 2px;
  width: 125px;
  height: 30px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:focus {
    border: 1px solid $color-grey;
    color: $color-grey;
  }

  &:hover,
  &:active {
    opacity: 0.8;
  }

  &--submit {
    background-image: linear-gradient( 180deg, rgb(68,136,187), rgb(46,93,128));
    color: $color-light-grey;

    // background-image: -webkit-linear-gradient( -90deg, rgb(68,136,187) 0%, rgb(46,93,128) 100%);
    // background-image: -ms-linear-gradient( -90deg, rgb(68,136,187) 0%, rgb(46,93,128) 100%);
  }
}