@import '../../styles/variables';

.info {
  background-color: $color-light-grey;
  margin-top: -115px;
  padding-bottom: 15px;

  &__image {
    display: none;
  }

  &__title {
    display: none;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 110px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 15px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: '';
      top: calc(50% - 23px);
      left: 0;
      width: 30px;
      height: 30px;
      background-color: $color-blue;
      border-radius: 50%;
      text-align: center;
      padding-top: 6px;
      font-size: 18px;
      color: $color-light-grey;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 1.25;
    color: $color-blue;
    border-bottom: 1px dashed $color-grey;

    sup {
      font-size: 14px;
      line-height: 1px;
    }
  }
}