<section class="info">
  <div class="wrapper flex-container">
    <img src="images/display.png" alt="display" class="info__image">
    <div class="info__list-container">
      <h3 class="info__title">Title text</h3>
      <ol class="info__list">
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Duis aute irure dolor in reprehenderit<sup>1</sup> in voluptate velit
          </a>
        </li>
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Ullamco laboris nisi ut aliquip ex ea commodo consequat
          </a>
        </li>
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Ut enim ad minim veniam, quis nostrud exercitation
          </a>
        </li>
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Et dolore magna aliqua
          </a>
        </li>
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Sed do eiusmod tempor<sup>2</sup> incididunt ut labore
          </a>
        </li>
        <li class="info__item">
          <a href="javascript:void(0);" class="info__link" title="">
            Lorem ipsum dolor sit amet<sup>3</sup> consectetur adipisicing elit
          </a>
        </li>
      </ol>
    </div>
  </div>
</section>