@import '../../styles/variables';

.info {
  background-color: $color-light-grey;
  margin-top: -115px;

  &__image {
    display: none;
  }

  &__title {
    display: none;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 110px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 15px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: '';
      top: calc(50% - 23px);
      left: 0;
      width: 30px;
      height: 30px;
      background-color: $color-blue;
      border-radius: 50%;
      text-align: center;
      padding-top: 6px;
      font-size: 18px;
      color: $color-light-grey;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 1.25;
    color: $color-blue;
    border-bottom: 1px dashed $color-grey;
    outline: 0;
    transition: 0.3s ease;

    &:hover,
    &:active {
      color: rgba($color-blue, 0.7);
    }

    &:focus {
      color: $color-dark-grey;
    }

    sup {
      font-size: 14px;
      line-height: 1px;
    }
  }

  &__item:last-child &__link {
      border-bottom: none;
    }

  @media #{$media-screen-tablet} {

    margin-top: 35px;

    &__image {
      display: block;
      width: 100%;
      height: auto;
    }

    &__list-container {
      width: 52%;
      max-width: 585px;
      padding-top: 20px;
    }

    &__title {
      display: block;
      font-size: 40px;
      line-height: 1.2;
      font-weight: bold;
      color: $color-blue;
      padding-left: 50px;
    }

    &__list {
      padding-top: 30px;
    }

    &__link {
      display: inline-block;
    }

  }

  @media #{$media-screen-desktop} {

    margin-top: 25px;


  }

  @media #{$media-screen-desktop-big} {

    padding-bottom: 70px;

    &__list-container {
      padding-top: 50px;
    }

    &__title {
      font-size: 48px;
    }

    &__list {
      padding-top: 55px;
    }
  }
}

.image-container {

  &--info {
    display: none;
    width: 44%;
    max-width: 500px;
    margin-top: -35px;
  }

  @media #{$media-screen-tablet} {

    &--info {
      display: block;
    }
  }
}