.header-banner {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #48b;
  background-image: url("../images/header-banner-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner__title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  border-bottom: 5px solid #fff;
  padding-bottom: 22px;
  margin-bottom: 25px;
}

.header-banner__text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 27px;
}

@media (min-width: 600px) {
  .header-banner {
    padding: 30px;
    padding-top: 50px;
    background-image: url("../images/header-banner-background-not-mobile.jpg");
  }
  .header-banner__title {
    display: inline-block;
    font-size: 40px;
  }
  .header-banner__text {
    max-width: 350px;
  }
}

@media (min-width: 1025px) {
  .header-banner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }
  .header-banner__title {
    font-size: 48px;
  }
  .header-banner__text {
    max-width: 500px;
  }
}
