.header-banner {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #48b;
  background-image: url("../images/header-banner-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-banner__title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  border-bottom: 5px solid #fff;
  padding-bottom: 22px;
  margin-bottom: 25px;
}

.header-banner__text {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 27px;
}
