@import '../../styles/variables';

.form-request {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-white;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);

  &__title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: $color-blue;
    margin-bottom: 15px;
    padding-left: 8px;
  }

  @media #{$media-screen-tablet} {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 25px;
  }

  @media #{$media-screen-desktop} {
    max-width: 292px;
    margin: 0;
    margin-top: 10px;
    margin-right: 100px;
    padding: 20px;
  }
}