<form action="" method="post" class="form-request">
  <span class="form-request__title">Request form</span>
  <div class="input-wrapper input-wrapper--text">
    <input type="text" id="form-request-email" name="form-request-email" class="input input--email" placeholder="Enter your E-Mail">
  </div>
  <div class="input-wrapper input-wrapper--text">
    <input type="text" id="form-request-name" name="form-request-name" class="input input--name" placeholder="Enter your name">
  </div>
  <div class="input-wrapper input-wrapper--select">
    <select name="form-request-select-country" class="input input--select">
      <option value="default">Select your country</option>
      <option value="russia">Russia</option>
      <option value="сanada">Canada</option>
      <option value="usa">USA</option>
      <option value="china">China</option>
      <option value="france">France</option>
    </select>
  </div>
  <input type="checkbox" id="form-request-checkbox-agree" name="form-request-checkbox-agree">
  <label for="form-request-checkbox-agree">I agree with Terms &amp; Conditions</label>
  <button type="submit" id="form-request-submit" class="button button--submit">Submit</button>
  <a href="javascript:void(0);" class="form-request__link" title="">Hyperlink</a>
</form>