@import '../../styles/variables';

.post {

  &__list {
    padding-top: 20px;
  }

  &__item {
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 10px;
    // background-color: $color-blue;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-light-grey;
    position: relative;
    z-index: 10;

    //модификаторы (изображение в фоне)

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background-image: url('../images/post-#{$i}.jpg');
      }
    }

    //полупрозрачный цвет фона

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-blue, 0.75);
      z-index: 11;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
      z-index: 100;
      background: url('../images/icon-post.png') no-repeat;
    }

    &-title {
      position: relative;
      z-index: 100;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 13px;
    }

    &-text {
      position: relative;
      z-index: 100;
      font-size: 14px;
      line-height: 18px;
    }
  }

  @media #{$media-screen-tablet} {

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 20px;
    }

    &__item {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
}