@import '../../styles/variables';

.post {


  &__list {
    padding-top: 20px;
  }

  &__item {
    background-color: $color-header-banner;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}