.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 10px;
  font-size: 16px;
  color: #aaa;
  position: relative;
  z-index: 10;
}

.input.error {
  border: 1px solid #b44;
  color: #b44;
}

.input:focus {
  border: 1px solid #48b;
}

.input--select {
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important;
}

input[name="form-request-checkbox-agree"] {
  display: none;
}

input[name="form-request-checkbox-agree"] + label {
  display: block;
  padding-left: 23px;
  position: relative;
  color: #aaa;
  margin-bottom: 15px;
  cursor: pointer;
  outline: 0;
}

input[name="form-request-checkbox-agree"] + label::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: #eee;
  z-index: 105;
}

input[name="form-request-checkbox-agree"] + label:focus {
  color: #48b;
}

input[name="form-request-checkbox-agree"]:checked + label::before {
  background-image: url("../images/icon-checkbox.png");
  background-repeat: no-repeat;
  background-size: 13px 10px;
  background-position: 50% 50%;
}

.input-wrapper {
  position: relative;
  z-index: 5;
  background-color: #eee;
}

.input-wrapper.error .tooltip {
  display: block;
}

.input-wrapper--text.active .placeholder {
  font-size: 10px;
  top: 3px;
}

.input-wrapper--text.active .button-close {
  display: block;
}

.input-wrapper--text.error .placeholder {
  color: #b44;
}

.input-wrapper--text.error .button-close::before,
.input-wrapper--text.error .button-close::after {
  background-color: #b44;
}

.input-wrapper--select::before {
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  right: 12px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 10px solid #aaa;
  cursor: pointer;
}

.placeholder {
  display: inline-block;
  font-size: 16px;
  color: #aaa;
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 6;
}

.button-close {
  display: none;
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 0;
  width: 15px;
  height: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 20;
  background: none;
}

.button-close::before, .button-close::after {
  display: block;
  content: '';
  position: absolute;
  top: 6px;
  right: 1px;
  width: 13px;
  height: 2px;
  background-color: #48b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 20;
}

.button-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tooltip {
  display: none;
  width: 175px;
  min-height: 35px;
  background-color: #b44;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  position: absolute;
  z-index: 50;
  top: -48px;
  left: calc(50% - 85px);
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.2;
  color: #eee;
  border: none;
  outline: none;
  cursor: pointer;
}

.tooltip::before {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #b44;
}
