@import '../../styles/variables';

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 10px;
  font-size: 16px;
  color: $color-grey;
  position: relative;
  z-index: 10;

  &.error {
    border: 1px solid $color-red;
    color: $color-red;
  }

  &:focus {
    border: 1px solid $color-blue;
  }

  &--text {
  }

  &--select {
    background-color: transparent;
    cursor: pointer;
    // убираем стандартное отображение селекта
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none!important;

    &::-ms-expand {
     display: none;
    }
  }
}

input[name="form-request-checkbox-agree"] {
  display: none;

  + label {
    display: block;
    padding-left: 23px;
    position: relative;
    color: $color-grey;
    margin-bottom: 15px;
    cursor: pointer;
    outline: 0;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background-color: $color-light-grey;
      z-index: 105;
    }

    &:focus {
      color: $color-blue;
    }
  }

  &:checked + label::before {
    background-image: url('../images/icon-checkbox.png');
    background-repeat: no-repeat;
    background-size: 13px 10px;
    background-position: 50% 50%;
  }
}

.input-wrapper {
  position: relative;
  z-index: 5;
  background-color: $color-light-grey;

  &.error {
    // background-color: transparent;

    .tooltip {
      display: block;
    }
  }

  &--text.active {

    .placeholder {
      font-size: 10px;
      top: 3px;
    }

    .button-close {
      display: block;
    }
  }

  &--text.error {

    .placeholder {
      color: $color-red;
    }

    .button-close::before,
    .button-close::after {
      background-color: $color-red;
    }
  }

  &--select {

    //добавляем треугольник
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 20px;
      right: 12px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: 10px solid $color-grey;
      cursor: pointer;
    }
  }
}

.placeholder {
  display: inline-block;
  font-size: 16px;
  color: $color-grey;
  position: absolute;
  top: 16px;
  left: 10px;
  z-index: 6;
}

.button-close {
  display: none;
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 0;
  width: 15px;
  height: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 20;
  background: none;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 6px;
    right: 1px;
    width: 13px;
    height: 2px;
    background-color: $color-blue;
    transform: rotate(45deg);
    z-index: 20;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.tooltip {
  display: none;
  width: 175px;
  min-height: 35px;
  background-color: $color-red;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  position: absolute;
  z-index: 50;
  top: -47px;
  left: calc(50% - 85px);
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.2;
  color: $color-light-grey;
  border: none;
  outline: none;
  cursor: pointer;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 98%;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid $color-red;
  }
}